body {

}

h1 {
text-align: center;
margin: 20px 20px 0 20px;
height: 50px;
}

#header h1 a.header, #header h1 a.header:active, #header h1 a.header:visited {
text-decoration: none;
width: 560px;
font-weight: bold;
font-size: 1.5em;
font-family: Palatino, 'palatino linotype', serif;font-style: bold;
color: #171582;
}

#header h1 a.header:hover {
text-decoration: none;
}

#header a {
margin:0 auto;
}

p {
margin: 8px 0 0 0;
line-height: 1.7em;
text-align: justify;
}

h2 {
/*border:1px solid red;*/
margin: 40px 0 0 0;
padding: 0 0 10px 0;
}

h3 {
float:left;
padding: 10px 10px 0 0;
margin-bottom: 5px;
font-weight: normal;
}

.note {
font-size: 0.9em;
margin: 0;
padding: 0 0 10px 0;
}

.date {
float:left;
padding-top: 14px;
margin-bottom: 0;
}

#navi li a, #navi li a:active, #navi li a:visited {
width: 160px;
}

hr {
color: #fff;
}

a {
color: #000;
text-decoration: underline;
}

fieldset {
border:none;
width: 40em;
}

label {
width: 13em;
padding: 0.5em 0 0 0;
display: block;
float: left;
}

select {
width: 5em;
display: block;
float: left;	
}

.clear {
clear: both;	
}

.right {
float: right;
}